<div>
<h1>Explore#strings</h1>
<p>Find me in app/views/explore/strings.html.erb</p>
<hr />
</div>


<li><%= 'This is Ruby String Here' %></li>
<li><%= (3/2.to_f).ceil %></li>
<li><%= (1.5)*2 %></li>
<hr />
<% counter = 10 -%>
<table border="1">
<tr><th width="120">Instructions</th>
<th width="120">Output</th>
</tr>
<% couter = 10 -%>
<tr><td>Counter +2</td>
<td><%= counter = counter + 2 %></td>
</tr>

<tr><td></td>
<td><%= counter = counter + 2 %></td>
</tr>

<tr><td></td>
<td><%= counter = counter + 2 %></td>
</tr>

<tr><td></td>
<td><%= counter = counter + 2 %></td>
</tr>

<tr><td>Object Now</td>
<td><%= counter %></td>
</tr>

<% value1 = nil -%>
<% value2 = 100 -%>
<% value1 ||= value2 -%>
<tr><td>Or Equal</td>
<td><%= value1 %></td>
</tr>


</table>